body {
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white; 
}
h1, h2, h3, h4, h5, h6, p, button, a, code {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 700;
}







/* Remove monospace for code blocks */
/* code {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
} */
